* {
  margin: 0;
  padding: 0;
}

body {
  background: #8b89a6;
  background: -webkit-gradient(linear, left top, right top, from(#8b89a6), color-stop(35%, #525269), to(#668e96));
  background: linear-gradient(90deg, #8b89a6 0%, #525269 35%, #668e96 100%);
  color: #2c2c2c;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 6rem 40rem 10rem;
      grid-template-rows: 6rem 40rem 10rem;
  gap: 0px 0px;
      grid-template-areas: "navbar navbar navbar" "content content content" "footer footer footer";
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navbar;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  background: rgba(198, 198, 198, 0.12);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(198, 198, 198, 0.3);
  justify-self: center;
}

@media (max-width: 800px) {
  .navbar {
    width: 20rem;
  }
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 45rem;
  margin: 1rem;
  background: rgba(198, 198, 198, 0.12);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(198, 198, 198, 0.3);
}

.content .playercontrols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0rem 10rem;
}

.content .musicPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 2rem;
}

.content .soundprogression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 25rem 10rem 0rem 10rem;
}

@media screen and (max-width: 800px) {
  .content {
    width: 20rem;
  }
}

.footer {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: 45rem;
  margin: 1rem;
  background: rgba(198, 198, 198, 0.12);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(198, 198, 198, 0.3);
}

@media screen and (max-width: 800px) {
  .footer {
    width: 20rem;
  }
}

.side {
  grid-area: side;
  margin: 1rem;
  background: rgba(198, 198, 198, 0.12);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(198, 198, 198, 0.3);
}

.links ul {
  list-style-type: none;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */