$screenSizePhone: 800px;   

* {
    margin: 0;
    padding: 0;
}

body {
    //background: url("../picture/drawing1.1.png") no-repeat center center fixed;
    //background-size: cover;
    //background-color: rgb(192, 193, 207);
    background: rgb(139,137,166);
    background: linear-gradient(90deg, rgba(139,137,166,1) 0%, rgba(82,82,105,1) 35%, rgba(102,142,150,1) 100%);
    color: rgb(44, 44, 44);
    }

.App {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 6rem 40rem 10rem; 
    gap: 0px 0px; 
    grid-template-areas: 
      "navbar navbar navbar"
      "content content content"
      "footer footer footer"
      ; 
}



.navbar {
    display: flex;
    width: 45rem;
    grid-area: navbar;
    justify-content: space-between;
    margin: 1rem;
    background: rgba(198, 198, 198, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(198, 198, 198, 0.3);
    justify-self: center;
}

@media (max-width: $screenSizePhone) {
    .navbar{
        width: 20rem;;
    }
}

.content {
    grid-area: content;
    justify-self: center;
    width: 45rem;
    margin: 1rem;
    background: rgba(198, 198, 198, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(198, 198, 198, 0.3);
    .playercontrols{
        display: flex;
        justify-content: center;
        align-content: center;
        margin:  0rem 10rem;
    }
    .musicPlayer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 2rem;
    }
    
    .soundprogression {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 25rem 10rem 0rem 10rem;
    }
  
}

@media screen and (max-width: $screenSizePhone) {
    .content{
        width: 20rem;
    }
}

.footer {
    justify-self: center;
    grid-area: footer;
    width: 45rem;
    margin: 1rem;
    background: rgba(198, 198, 198, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(198, 198, 198, 0.3);
}

@media screen and (max-width: $screenSizePhone) {
    .footer{
        width: 20rem;;
    }
}

.side {
    grid-area: side;
    margin: 1rem;
    background: rgba(198, 198, 198, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(198, 198, 198, 0.3);

}

.links {
    ul{
    list-style-type: none;
    }
}

.circle {
    display:  flex;
    justify-content: center;
    align-self: center
}